
body {
    margin: 0;
}

#top-menu {
    background-color: darkgray;
    padding: 10px;
}

#content {
    background-color: #F6A9A9;
    padding: 10px;
    padding-left: 20px;
}

#logo {
    padding: 10px;
    padding-right: 15px;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    white-space: nowrap;
}

h2 {
    display: inline;
    vertical-align: middle;
    padding: 10px;
    font-size: 25px;
}

#group-edit {
    display: inline-block;
    margin: 20px 15px;
    width: 90px;
}

.page {
    vertical-align: middle;
    padding-left: 20px;
    font-size: 20px;
}

#blocklist {
    width: 90%;
    min-width: max-content;
    max-width: 600px;
}

/*filtering list needs to modify color rule*/
tr:nth-child(2n - 1) {
    background-color: #C4C4C4;
}

tr:nth-child(2n) {
    background-color: #E6E6E6;
}
/**/

#filter {
    display: inline;
    vertical-align: middle;
    line-height: 2;
}

#input {
    margin-top: 10px;
}

#alert {
    color: red;
    margin-top: 5px;
}

#headers {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

tr:not(#headers) {
    height: 50px;
}

td {
    text-align: center;
}

button, .select, #select-all, th {
    cursor: pointer;
}

img {
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.status {
    width: 30px;
    height: 30px;
}

/* <-- Slider button --> */

/* slider outer oval */
.toggle {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* default checkbox */
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* slider outer oval */
.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .2s;
    border-radius: 34px;
    background-color: #2196F3;
    cursor: pointer;
}

/* slider inner circle */
.slider:before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    transition: .2s;
    border-radius: 50%;
    background-color: white;
}

/* slider outer oval checked color */
input:checked + .slider {
    background-color: #F32C21;
}

/* slider outer oval focus outline */
input:focus + .slider {
    box-shadow: 0 0 1px #F32C21;
}

/* slider inner circle translation */
input:checked + .slider:before {
    transform: translateX(26px);
}