
#popup-html {
    width: 210px;
    height: 300px;
}

.activate {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.icon, .activate {
    display: flex;
    margin: 0 auto;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

#popup-h2 {
    margin-bottom: 0px;
}

.popup-status {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    float: right;
    padding-right: 5px;
}

#options {
    position: relative;
    top: 54px;
    left: 135px;
}

img {
	vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#popup-content {
    margin-left: 10px;
}