
#popup-html {
    width: 210px;
    min-height: 300px;
	height: max-content;
}

body {
	margin: 0;
}

.activate {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.icon, .activate {
    display: flex;
    margin: 0 auto;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

#popup-top-menu {
	padding: 10px;
	box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

#popup-h2 {
    margin-bottom: 0px;
}

.popup-status {
    padding-right: 5px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    float: right;
}

#options {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

img {
	vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#popup-content {
    margin-left: 10px;
}

/* ------------- WEBPAGE GLOBAL STYLE ------------- */

/* --- light mode --- */
#popup-top-menu.theme-light {
	/* #9C9C9C */
	background: linear-gradient(225deg, #a7a7a7, #8c8c8c);
}

#popup-html.theme-light {
	/* #EDEDED */
	background: linear-gradient(225deg, #fefefe, #d5d5d5);
	color: black;
}

/* --- dark mode --- */
#popup-top-menu.theme-dark {
	/* #202020 */
	background: linear-gradient(225deg, #222222, #1d1d1d);
}

#popup-html.theme-dark {
	/* #292929 */
	background: linear-gradient(225deg, #2c2c2c, #252525);
	color: #E2E2E2;
}

/* ------------------------------------------------ */