
#popup-html {
    width: 210px;
    min-height: 300px;
	height: max-content;
	background-color: #EDEDED;
}

body {
	margin: 0;
}

.activate {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.icon, .activate {
    display: flex;
    margin: 0 auto;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

#popup-top-menu {
	padding: 10px;
	box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
	background-color: #9C9C9C;
}

#popup-h2 {
/*	margin-top: 5px;*/
    margin-bottom: 0px;
}

.popup-status {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    float: right;
    padding-right: 5px;
}

#options {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

img {
	vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#popup-content {
    margin-left: 10px;
}

/* ------------- WEBPAGE GLOBAL STYLE ------------- */

/* --- light mode --- */
#popup-top-menu.style-light {
	background-color: #9C9C9C;
}

#popup-html.style-light {
	background-color: #EDEDED;
	color: black;
}

/* --- dark mode --- */
#popup-top-menu.style-dark {
	background-color: #202020;
}

#popup-html.style-dark {
	background-color: #292929;
	color: #E2E2E2;
}

/* ------------------------------------------------ */