
#logo {
    padding: 10px;
    padding-right: 15px;
}

h1 {
    vertical-align: middle;
    display: inline;
    font-size: 40px;
}

h2 {
    vertical-align: middle;
    display: inline;
    padding: 10px;
    font-size: 25px;
}

.page {
    font-size: 20px;
    padding-left: 20px;
}

#blocklist {
    width: 45%;
    min-width: max-content;
}

#filter {
    vertical-align: middle;
    display: inline;
    line-height: 2;
}

#input {
    margin-top: 10px;
}

#alert {
    color: red;
    margin-top: 5px;
}

table, th, td {
    border: 1px solid;
}

td {
    text-align: center;
}

img {
    vertical-align: middle;
    user-select: none;
}

.status {
    width: 30px;
    height: 30px;
}

/* <-- Slider button --> */

/* slider outer oval */
.toggle {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* default checkbox */
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* slider outer oval */
.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .2s;
    -webkit-transition: .2s;
    border-radius: 34px;
    /*background-color: #ccc;*/
    background-color: #2196F3;
    cursor: pointer;
}

/* slider inner circle */
.slider:before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    transition: .2s;
    -webkit-transition: .2s;
    border-radius: 50%;
    background-color: white;
}

/* slider outer oval checked color */
input:checked + .slider {
    background-color: #F32C21;
    /*background-color: #2196F3;*/
}

/* slider outer oval focus outline */
input:focus + .slider {
    box-shadow: 0 0 1px #F32C21;
    /*background-color: #2196F3;*/
}

/* slider inner circle translation */
input:checked + .slider:before {
    transform: translateX(26px);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
}